/* * {

} */

body {
    display: table;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

 section, footer {
    display: table-row;
    width: 100%;
}

section {
    height: 80%;
}

footer {
    height: 10%;
    display: block;
    margin-top: 55px;
    font-size: 12px;
}

a:link   {
    text-decoration: none;
    color: #0066CC
}

a:visited {
    color:#800080
}

a:hover {
    color: #800080
}

a:active {
    color:#800080
}

div.sign-in {
    border: 0.5px;
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 39%;
    margin-right: 39%;
    margin-top: 8%;
    text-align: left;
}

h1 {
    font-weight: 100;
    font-size:  35px;
    color: black;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

form {
    padding-right: 8px;
}

label {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    font-size: 14px;
}

input {
    width: 100%;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-color: lightgray;
    border: solid;
    border-width: 0.1px;
    border-radius: 2.5px;
}

input::placeholder {
    font-size: 16px;
}

div.forgot-password {
    display: inline-block;
    padding-left: 45%;
    text-align: right;
    font-size: 16px;
}

button#submit {
    background-color: rgb(244, 198, 61);
    font-size: 14px;
    color: black;
    width: 100%;
    height: 30px;
    border-width: 0.1px;
    border-radius: 2.5px;
    border-color: black;
    cursor: pointer;
}

button#submit:hover {
    background-color: rgb(244, 177, 61);
    transition: 0.5s;
}

a.help {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
}

h3 {
    overflow: hidden;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: gray;
}

h3:before, h3:after {
    background-color: rgb(176, 172, 172);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 6.5%;
}

h3:before {
    right: 0.5em;
    margin-left: -50%;
}

h3:after {
    left: 0.5em;
    margin-right: -50%;
}

button#new {
    font-size: 14px;
    color: black;
    background: rgb(232, 236, 244);
    width: 20%;
    height: 30px;
    border: 1.75px solid rgb(176, 172, 172);
    border-radius: 2.5px;
    cursor: pointer;
}

button#new:hover {
    background-color: rgb(216, 216, 216);
    transition: 0.5s;
}

footer hr {
    border: 1px solid rgb(220, 218, 218);
}

footer a {
    display: inline-block;
    padding: 20px;
}